In [349]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import datetime
import time
import random
from fake_useragent import UserAgent 
import math
import numpy as np
from scipy import stats
ua = UserAgent()

user_agent_list = [
    'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1.1 Safari/605.1.15',
    'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:77.0) Gecko/20100101 Firefox/77.0',
    'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.97 Safari/537.36',
    'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:77.0) Gecko/20100101 Firefox/77.0',
    'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.97 Safari/537.36',
]
#headers = {'user-agent': ua.random}
headers = {'user-agent': user_agent_list[0]}
from scipy import stats

#data = requests.get(url, headers=headers)

#### Get Monthly Sales for 2019 & 2020

In [2]:
def get_monthly_sales_df(url, year_str, tbl_num):
    '''
    Return a time series df of monthly US car sales for every make and model 
    '''
    response = requests.get(url, headers=headers)
    page= response.text
    soup = BeautifulSoup(page, "lxml")
    
    #find car sales data and turn it into a list
    tbl_str = soup.find_all('tbody')[tbl_num].text
    tbl_list = tbl_str.split('\n')
    tbl_list = [i for i in tbl_list if i] 
    
    #create empty time series df for specified year
    date_time_str = year_str + '-01'
    start_date = datetime.datetime.strptime(date_time_str, '%Y-%m')
    index = pd.date_range(start_date, periods=12, freq='m')
    df = pd.DataFrame(index=index)
    
    #fill empty df with monthly sales for all makes and models
    col_name = ''
    idx = 0
    for x in range(0,len(tbl_list)//13):
        col_name = tbl_list[x+idx]
        list_vals = []
        for val in range(x+1,x+13):
            list_vals.append(tbl_list[idx+val])
        df[col_name]=list_vals
        idx = idx+12
    return df

new df called monthly_sales_df

In [3]:
url = 'https://www.goodcarbadcar.net/2019-us-vehicle-sales-figures-by-model/' 
df_sales = get_monthly_sales_df(url, '2019', 2)
url = 'https://www.goodcarbadcar.net/2020-us-vehicle-sales-figures-by-model/'
df = get_monthly_sales_df(url, '2020', 1)
monthly_sales_df = pd.concat((df_sales, df))
#monthly_sales_df.columns

pickle df of monthly sales for 2019 and 2020 to data folder

In [ ]:
monthly_sales_df.to_pickle('../data/monthly_sales_df.pkl')

#### Get All Model Yearly Sales for 2005-2020

In [4]:
def get_model_sales_df(url, year):
    '''
    Return a df of yearly US car sales for every make and model 
    columns = Model, Year, and Total_Sales
    '''
    #read url page into list of pandas dfs 
    response = requests.get(url, headers=headers)
    page = response.text
    df_list = pd.read_html(page)
    
    #find correct df based on number of data frames on url page and 
    if len(df_list) == 1 or year == '2019':
        df = pd.DataFrame(df_list[0])
    elif len(df_list) == 2:
        df = pd.DataFrame(df_list[1])
    else:
        df = pd.DataFrame(df_list[len(df_list)-1])
    
    #special case for 2020 data because sales data is in monthly sales format for each model
    if year == '2020':  
        soup = BeautifulSoup(page, "lxml")
    
        #find car sales data and turn it into a list
        tbl_str = soup.find_all('tbody')[1].text
        tbl_list = tbl_str.split('\n')
        tbl_list = [i for i in tbl_list if i] 
        
        columns = ('Model', 'Year', 'Total_Sales')
        df = pd.DataFrame(columns=columns)

        #fill empty df with monthly sales for all makes and models
        model_name = ''
        idx = 0
        index = 0
        for x in range(0,len(tbl_list)//13):
            model_name = tbl_list[x+idx]
            year_sum = 0
            for val in range(x+1,x+13):
                month_total = tbl_list[idx+val].replace(',','')
                month_total = int(month_total)
                year_sum = year_sum + month_total
            #df1 = pd.DataFrame([model_name, year_sum], columns = ['Model', year])
            df = df.append(pd.DataFrame({'Model': model_name, 'Year': year, 'Total_Sales': year_sum}, index=[index]), 
                           ignore_index=True)
            index = index+1
            #df.append(df1)
            idx = idx+12
        return df
    
    if year == '2012':
        df = df.iloc[:, [2,3]]
    elif year == '2005':
        df = df.iloc[:, [1,3]]
    elif year in ['2017','2018', '2019', '2020']:
        df = df.iloc[:, [0,4]]
    else:
        df = df.iloc[:, [1,2]]
    df.columns = ['Model', 'Total_Sales']
    df['Year'] = year
    
    #* indicate further breakdown of sum totals, overall totals be removed further down when duplicates are removed
    #other symbols refer to subnotes in the tables and are not apart of model names
    symbols = ['*', '²', '¹', '^', '†', '‡']
    
    for s in symbols:
        df['Model'] = df['Model'].str.replace(s,'')

    df.dropna(subset=['Model'], inplace=True)
    
    df['Model'] = df['Model'].str.rstrip()
    df['Model'] = df['Model'].str.lstrip()
    
    #remove first in set of duplicates b/c first is a sum of a car and the hybrid model
    
    df.drop_duplicates(subset='Model', keep='last', inplace=True)
    
    df['Total_Sales'] = df['Total_Sales'].apply(pd.to_numeric, errors='coerce')
    
    return df

In [5]:
url = 'https://www.goodcarbadcar.net/2006-usa-auto-sales-rankings-by-mode/'
yearly_sales_df= get_model_sales_df(url = url, year = '2005')

<ipython-input-4-a3a3f1582c68>:66: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Model'] = df['Model'].str.replace(s,'')

In [6]:
url_dict = {'2006': 'https://www.goodcarbadcar.net/2006-usa-auto-sales-rankings-by-mode/',
            '2007': 'https://www.goodcarbadcar.net/usa-2007-vehicle-sales-rankings-by-mode/',
            '2008': 'https://www.goodcarbadcar.net/2008-america-auto-sales-rankings-by-mode/',
            '2009': 'https://www.goodcarbadcar.net/usa-auto-sales-rankings-by-model-2009/',
            '2010': 'https://www.goodcarbadcar.net/2010-america-auto-sales-rankings-by-mode/',
            '2011': 'https://www.goodcarbadcar.net/top-268-best-selling-vehicles-2011-year/',
            '2012': 'https://www.goodcarbadcar.net/2012-usa-auto-sales-rankings-by-model7/',
            '2013': 'https://www.goodcarbadcar.net/usa-vehicle-sales-rankings-by-model-december-2013-year-end/',
            '2014': 'https://www.goodcarbadcar.net/usa-all-cars-sales-figures-2014-december-year-end/',
            '2015': 'https://www.goodcarbadcar.net/usa-car-sales-by-model-2015-year-end-december/',
            '2016': 'https://www.goodcarbadcar.net/usa-2016-vehicle-sales-by-model-manufacturer-brand/',
            '2017': 'https://www.goodcarbadcar.net/december-2017-year-end-u-s-passenger-car-sales-rankings-top-171-best-selling-cars-america-every-car-ranked/',
            '2018': 'https://www.goodcarbadcar.net/december-2018-the-best-selling-vehicles-in-america-every-vehicle-ranked/',
            '2019': 'https://www.goodcarbadcar.net/2019-us-vehicle-sales-figures-by-model/',
            '2020': 'https://www.goodcarbadcar.net/2020-us-vehicle-sales-figures-by-model/'
           }

years = ['2006']
for key, value in url_dict.items():
    #print(key)
    years.append(key)
    df= get_model_sales_df(url = value, year = key)
    #print(df)
    yearly_sales_df = pd.concat([yearly_sales_df, df], axis=0)
    #yearly_sales_df = pd.merge(yearly_sales_df, df, on='Model', how='outer')
    #print(yearly_sales_df[yearly_sales_df.Model.str.contains("Toyota")])

print(yearly_sales_df)

<ipython-input-4-a3a3f1582c68>:66: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Model'] = df['Model'].str.replace(s,'')
<ipython-input-4-a3a3f1582c68>:66: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Model'] = df['Model'].str.replace(s,'')
<ipython-input-4-a3a3f1582c68>:66: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Model'] = df['Model'].str.replace(s,'')
<ipython-input-4-a3a3f1582c68>:66: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Model'] = df['Model'].str.replace(s,'')
<ipython-input-4-a3a3f1582c68>:66: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Model'] = df['Model'].str.replace(s,'')
<ipython-input-4-a3a3f1582c68>:66: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Model'] = df['Model'].str.replace(s,'')
<ipython-input-4-a3a3f1582c68>:66: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Model'] = df['Model'].str.replace(s,'')
<ipython-input-4-a3a3f1582c68>:66: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Model'] = df['Model'].str.replace(s,'')
<ipython-input-4-a3a3f1582c68>:66: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Model'] = df['Model'].str.replace(s,'')
<ipython-input-4-a3a3f1582c68>:66: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Model'] = df['Model'].str.replace(s,'')
<ipython-input-4-a3a3f1582c68>:66: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Model'] = df['Model'].str.replace(s,'')
<ipython-input-4-a3a3f1582c68>:66: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Model'] = df['Model'].str.replace(s,'')
<ipython-input-4-a3a3f1582c68>:66: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Model'] = df['Model'].str.replace(s,'')
<ipython-input-4-a3a3f1582c68>:66: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Model'] = df['Model'].str.replace(s,'')

                     Model Total_Sales  Year
0            Ford F-Series    901463.0  2005
1      Chevrolet Silverado    705980.0  2005
2             Toyota Camry    431703.0  2005
3    Toyota Corolla/Matrix    341290.0  2005
4                Dodge Ram    400543.0  2005
..                     ...         ...   ...
298        Volvo 60-Series       15729  2020
299        Volvo 90-Series        3195  2020
300             Volvo XC40       23778  2020
301             Volvo XC60       32078  2020
302             Volvo XC90       34251  2020

[4518 rows x 3 columns]

In [7]:
# columns = ('Model','Total_Sales')
# total_sales_df = pd.DataFrame(columns=columns)
# total_sales_df = total_sales_df.fillna(0)
# total_sales_df['Model'] = yearly_sales_df['Model']

# total_sales_df['Total_Sales'] = yearly_sales_df[years].sum(axis=1)
# #print(total_sales_df)

In [8]:
# total_sales_df.sort_values('Total_Sales', ascending=False, inplace=True)
yearly_sales_df = yearly_sales_df[yearly_sales_df.Total_Sales != 0]

remove_strings = ["Market",'Total','Family','Brand','Passenger Cars, SUVs, Crossovers','Minivans','Pickup Trucks',
                 'Commercial Vans', 'COMPANY', 'MOTOR', 'GROUP', 'AMERICAN', 'AUTOMOBILES', 'JAGUAR', 'DAIMLER']

for string in remove_strings:
    yearly_sales_df = yearly_sales_df[~yearly_sales_df.Model.str.contains(string)]

#total_sales_df = total_sales_df[total_sales_df.Model != '*Market*']
yearly_sales_df = yearly_sales_df.reset_index(drop=True)
yearly_sales_df

                      Model Total_Sales  Year
0             Ford F-Series    901463.0  2005
1       Chevrolet Silverado    705980.0  2005
2              Toyota Camry    431703.0  2005
3     Toyota Corolla/Matrix    341290.0  2005
4                 Dodge Ram    400543.0  2005
...                     ...         ...   ...
4388        Volvo 60-Series       15729  2020
4389        Volvo 90-Series        3195  2020
4390             Volvo XC40       23778  2020
4391             Volvo XC60       32078  2020
4392             Volvo XC90       34251  2020

[4393 rows x 3 columns]

In [9]:
def get_brand_links(org_url):
    '''
    Return a df of yearly US car sales for every make and model 
    columns = Model, Year, and Total_Sales
    '''
    #org_url = 'https://www.carspecs.us/'
    response = requests.get(org_url, headers=headers)
    page = response.text
    soup = BeautifulSoup(page, "lxml")
    #tbl = soup.find_all(class_='modelnamesandmakes_item')
    #link_list = soup.find_all(id_ = 'homepage-browsemakes')
    brand_link_dict = dict()
    link_list = soup.find_all('li')
    for x in link_list[7:]:
        brand = x.text
        link = 'https://www.carspecs.us' + x.find('a')['href']
        brand_link_dict[brand] = link
        time.sleep(0.5)
    return brand_link_dict

In [189]:
def get_model_links(brand, url):
    '''
    Return a df of yearly US car sales for every make and model 
    columns = Model, Year, and Total_Sales
    '''
    #load url page with all car models for specified brand url
    response = requests.get(url, headers=headers) #random user agent
    page = response.text
    soup = BeautifulSoup(page, "lxml")
    
    #find first div with all model links
    div_list = soup.find_all('div', class_='pure-u-1 pure-u-md-1-2')
    
    #new df to store all makes and models for all years past 2004
    columns = ('Model', 'Year', 'Model_url')
    df = pd.DataFrame(columns=columns)
    #model_link_dict = dict()
    
    #loop through all model links for specified brand 
    for x in div_list[1].find_all('li'):
        model = brand + ' ' + x.text 
        link = org_url + x.find('a')['href'] #model url
        
        #load model url to get list of model year urls
        response = requests.get(link)
        page = response.text
        soup = BeautifulSoup(page, "lxml")
        year_links = soup.find_all('li') #list of all year urls for specified model
        
        #print(year_links).text
        #loop through all year links starting at index 7
        idx = 7
        index = 0
        for y in year_links[7:]:
            year = year_links[idx].text
            if year in years: #only add year links that are 2005 to 2020
                #print(year)
                model_link = 'https://www.carspecs.us' + year_links[idx].find('a')['href']
                df = df.append(pd.DataFrame({'Model': model, 'Year': year, 'Model_url': model_link}, index=[index]), 
                                ignore_index=True)
                index = index+1
                #model_link_dict[model] = (year, model_link)
                idx = idx+1
        time.sleep(0.5) #pause 
            
    return df
#    return model_link_dict

In [497]:
def get_model_specs(url,head):
#url = 'https://www.carspecs.us//cars/2020/acura/mdx'
    response = requests.get(url, headers=head)
    page = response.text
    soup = BeautifulSoup(page, "lxml")

    doors =passengers =speed =horsepower =drive =engine =tank =volume =length =width =height = wheelbase =float('NaN')
    mpg = ''
    
    try:
        price = soup.find(text=re.compile('starting from'))
        price = price.findNext().text
    
    except:
        price = float('NaN')
    
    div_list = soup.find('div', class_='car-details').find_all('div')
    #print(div_list)

    for div in div_list[1:]:
        spec_list = div.text.split('\n')
        spec_list = [i for i in spec_list if i]
        #print(spec_list)
        if spec_list:
            if 'RPM' not in spec_list[0]:
                if 'Passenger Doors' in spec_list[0]:
                    doors = int(spec_list[-1])
                if 'Passenger Capacity' in spec_list[0]:
                    passengers = int(spec_list[-1])
                if 'mph' in spec_list[0]:
                    speed = spec_list[-1]
                if 'Horsepower' in spec_list[0]:
                    horsepower = spec_list[-1]
                if 'Drive type' in spec_list[0]:
                    drive = spec_list[-1]
                if 'combined' in spec_list[0]:
                    mpg = spec_list[-1]
                if 'Combined' in spec_list[0]:
                    mpg = spec_list[-1]
                if 'Engine type' in spec_list[0]:
                    engine = spec_list[-1]
                    engine = engine.replace('\t', '')
                if 'tank capacity' in spec_list[0]:
                    tank = spec_list[-1]
                if 'EPA interior' in spec_list[0]:
                    volume = spec_list[-1]
                if 'Length' in spec_list[0]:
                    length = spec_list[-1]
                if 'Width' in spec_list[0]:
                    width = spec_list[-1]
                if 'Height' in spec_list[0]:
                    height = spec_list[-1]
                if 'Wheelbase' in spec_list[0]:
                    wheelbase = spec_list[-1]
        
        if mpg == '':
            mpg = soup.find(text=re.compile('highway mpg'))
            try:
                mpg_list = mpg.split('/ ')
                city = mpg_list[0].lstrip('\r\n ')
                highway = mpg_list[1]
                mpg = (int(city[0:2])+int(highway[0:2]))/2
            except:
                mpg = float('NaN')
                
    #time.sleep(.1+.5*random.random()) #random pause 
    
    return [price, doors, passengers, speed, horsepower, drive, mpg, engine, tank, volume, length, width, height,wheelbase]

#### Get a dictionary of links to all models of a car brand

In [12]:
org_url = 'https://www.carspecs.us/'
brand_links = get_brand_links(org_url)
#print(brand_links)

#### Get a dictionary of links to all years of a specific make and model

In [20]:
# all_model_links = dict()
#for key, value in brand_links.items():
#     #print(get_model_links(key, brand_links[key]))
#     all_model_links.update(get_model_links(key, brand_links[key]))
#     #print(all_model_links)
# #rint(all_model_links)
columns = ('Model', 'Year', 'Model_url')
model_links_df = pd.DataFrame(columns=columns)
for key, value in brand_links.items():
    #print(get_model_links(key, brand_links[key]))
    df = get_model_links(key, brand_links[key])
    model_links_df = model_links_df.append(df, ignore_index=True)
    #model_links_df = pd.concat(model_links_df,df)
    #print(model_links_df)

In [21]:
print(model_links_df)

           Model  Year                                     Model_url
0      Acura ILX  2020   https://www.carspecs.us/cars/2020/acura/ilx
1      Acura ILX  2019   https://www.carspecs.us/cars/2019/acura/ilx
2      Acura ILX  2018   https://www.carspecs.us/cars/2018/acura/ilx
3      Acura ILX  2017   https://www.carspecs.us/cars/2017/acura/ilx
4      Acura ILX  2016   https://www.carspecs.us/cars/2016/acura/ilx
...          ...   ...                                           ...
6576  Volvo XC90  2010  https://www.carspecs.us/cars/2010/volvo/xc90
6577  Volvo XC90  2009  https://www.carspecs.us/cars/2009/volvo/xc90
6578  Volvo XC90  2008  https://www.carspecs.us/cars/2008/volvo/xc90
6579  Volvo XC90  2007  https://www.carspecs.us/cars/2007/volvo/xc90
6580  Volvo XC90  2006  https://www.carspecs.us/cars/2006/volvo/xc90

[6581 rows x 3 columns]

#### Create new df containging specs of every make, model, and year of a car

In [498]:
columns = ('Model', 'url',  'drive','engine','price','doors', 'passengers', 'speed_sec', 'horsepower_hp', 'mpg',  
           'tank_gal', 'volume_cuft', 'length_in', 'width_in', 'height_in','wheelbase_in')
model_spec_df = pd.DataFrame(columns=columns) 
idx = 0
for index, row in model_links_df.iterrows():
    #print(row[2])
    specs = get_model_specs(row[2],headers)
    #print(specs)
#     print(value[0])
#     print(value[1])
    print(index)
    model_spec_df = model_spec_df.append(pd.DataFrame({'Model': row[0],'Year':row[1], 'url': row[2], 'drive': specs[5], 'engine': specs[7],
                                                       'price': specs[0],'doors': specs[1],'passengers': specs[2],'speed_sec': specs[3], 
                                                       'horsepower_hp': specs[4],'mpg': specs[6],
                                                       'tank_gal': specs[8], 'volume_cuft': specs[9], 'length_in': specs[10],
                                                      'width_in': specs[11],'height_in': specs[12],'wheelbase_in':specs[13]}, index=[idx]), 
                                                         ignore_index=True)
    idx = idx +1
    
    if idx%10 == 0:
        #time.sleep(2+1*random.random())
    
        if idx%500 == 0:
            user_agent = random.choice(user_agent_list)
            headers = {'user-agent': user_agent}
    #print(model_spec_df)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861

1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2661
2662
2663
2664
2665
2666
2667
2668
2669
2670
2671
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2717
2718
2719
2720
2721
2722
2723
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2734
2735
2736
2737
2738
2739
2740
2741
2742
2743
2744
2745
2746
2747
2748
2749
2750
2751
2752
2753
2754
2755
2756
2757
2758
2759
2760
2761
2762
2763
2764
2765
2766
2767
2768
2769
2770
2771
2772
2773
2774
2775
2776
2777
2778
2779
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819
2820
2821
2822
2823
2824
2825
2826
2827
2828
2829
2830
2831
2832
2833
2834
2835
2836
2837
2838
2839
2840
2841
2842
2843
2844
2845
2846
2847
2848
2849
2850
2851
2852
2853
2854
2855
2856
2857

ConnectionError: HTTPSConnectionPool(host='www.carspecs.us', port=443): Max retries exceeded with url: /cars/2010/hyundai/genesis (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7ffe2ce20b20>: Failed to establish a new connection: [Errno 60] Operation timed out'))

## Clean Data

Remove symbols and units from data in df so data can be changed to numeric datatype

In [458]:
model_spec_df2 = model_spec_df.copy()
replace_list = ['hp', 'mpg', 'gal.', 'cu.ft.', 'in.', ',', 'sec', '$', '$']
for s in replace_list:
    model_spec_df2 = model_spec_df2.replace(s,'', regex=True) 
model_spec_df2['price'] = model_spec_df2['price'].str.replace('$','')

<ipython-input-458-b12ef35c12db>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  model_spec_df2['price'] = model_spec_df2['price'].str.replace('$','')

Change all columns to numeric except for drive, engine, doors, and passengers

In [459]:
num_cols = ['price',  'speed_sec', 'horsepower_hp', 'mpg', 'tank_gal', 'volume_cuft', 
            'width_in', 'length_in','height_in','wheelbase_in']
for col in num_cols:
    model_spec_df2[col] = model_spec_df2[col].apply(pd.to_numeric, errors='coerce')

model_spec_df2['doors'] = model_spec_df2['doors'].astype(str)
model_spec_df2['passengers'] = model_spec_df2['passengers'].astype(str)
model_spec_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6581 entries, 0 to 6580
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Model          6581 non-null   object
 1   url            6581 non-null   object
 2   drive          6578 non-null   object
 3   engine         5477 non-null   object
 4   price          4923 non-null   float64
 5   doors          6581 non-null   object
 6   passengers     6581 non-null   object
 7   speed_sec      5206 non-null   float64
 8   horsepower_hp  6503 non-null   float64
 9   mpg            6003 non-null   float64
 10  tank_gal       6446 non-null   float64
 11  volume_cuft    1695 non-null   float64
 12  length_in      5322 non-null   float64
 13  width_in       5568 non-null   float64
 14  height_in      5586 non-null   float64
 15  Year           6581 non-null   object
dtypes: float64(9), object(7)
memory usage: 822.8+ KB

#### Left merge Sales df to specs df and find info

perform intial merge

In [460]:
model_spec_sales_df = yearly_sales_df.merge(model_spec_df2, how = 'left',on=["Model",'Year'])
# model_spec_sales_df.info()
# model_spec_sales_df.head()

In [461]:
model_spec_sales_df.info()
model_spec_sales_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4393 entries, 0 to 4392
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Model          4393 non-null   object
 1   Total_Sales    4310 non-null   object
 2   Year           4393 non-null   object
 3   url            2820 non-null   object
 4   drive          2818 non-null   object
 5   engine         2687 non-null   object
 6   price          2398 non-null   float64
 7   doors          2820 non-null   object
 8   passengers     2820 non-null   object
 9   speed_sec      2227 non-null   float64
 10  horsepower_hp  2792 non-null   float64
 11  mpg            2750 non-null   float64
 12  tank_gal       2772 non-null   float64
 13  volume_cuft    944 non-null    float64
 14  length_in      2668 non-null   float64
 15  width_in       2742 non-null   float64
 16  height_in      2742 non-null   float64
dtypes: float64(9), object(8)
memory usage: 617.8+ KB

,Model,Total_Sales,Year,url,drive,engine,price,doors,passengers,speed_sec,horsepower_hp,mpg,tank_gal,volume_cuft,length_in,width_in,height_in
0,Ford F-Series,901463.0,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Chevrolet Silverado,705980.0,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Toyota Camry,431703.0,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Toyota Corolla/Matrix,341290.0,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Dodge Ram,400543.0,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We see that some of the cars with the top sales did not get any spec data. This needs to be further investigated to see if

Find columns in specs df that did not merge

In [462]:
unique_sales_df = (yearly_sales_df.merge(model_spec_df2, on='Model', how='outer', indicator=True)
            .query('_merge != "both"').drop(columns='_merge'))
unique_sales_df['Model'].value_counts().head(20)
#unique_sales_df.groupby('Model').sum()

Mini Cooper                    16
Nissan Pathfer                 15
Ford F-150                     15
GMC Sierra 1500                15
GMC Sierra 2500HD              15
Chevrolet Silverado 1500       15
MINI Cooper                    15
Loln Navigator                 15
Ford Super Duty F-250          15
Chevrolet Silverado 2500HD     15
Chevrolet Equx                 15
Chevrolet Express Passenger    14
Bentley Contntal GT            14
Audi A8 L                      14
GMC Savana Passenger           14
Loln MKZ                       14
Honda Ridgeline                13
Mercedes-Benz S Class          13
Mercedes-Benz E Class          13
Audi S4                        13
Name: Model, dtype: int64

Identify mismatches with largest value counts and replace strings

In [463]:
chevy_models = model_spec_df2[model_spec_df2['Model'].str.contains('Nissan P')].dropna()
print (chevy_models)
model_spec_df2['Model'] = model_spec_df2['Model'].str.replace(' 1500','')
model_spec_df2['Model'] = model_spec_df2['Model'].str.replace(' 2500HD','')

Empty DataFrame
Columns: [Model, url, drive, engine, price, doors, passengers, speed_sec, horsepower_hp, mpg, tank_gal, volume_cuft, length_in, width_in, height_in, Year]
Index: []

In [464]:
ford_f_models = model_spec_df2[model_spec_df2['Model'].str.contains('Ford F')].dropna()
#print (ford_f_models)
model_spec_df2['Model'] = model_spec_df2['Model'].str.replace('150','Series')

In [465]:
mini_models = model_spec_df2[model_spec_df2['Model'].str.contains('MINI')].dropna()
#print (mini_models)
model_spec_df2['Model'] = model_spec_df2['Model'].str.replace('MINI','Mini')

Run a second merge with changes

In [466]:
model_spec_sales_df2 = yearly_sales_df.merge(model_spec_df2, how = 'left',on=["Model",'Year'])
model_spec_sales_df2.info()
model_spec_sales_df2.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4439 entries, 0 to 4438
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Model          4439 non-null   object
 1   Total_Sales    4356 non-null   object
 2   Year           4439 non-null   object
 3   url            2941 non-null   object
 4   drive          2939 non-null   object
 5   engine         2769 non-null   object
 6   price          2493 non-null   float64
 7   doors          2941 non-null   object
 8   passengers     2941 non-null   object
 9   speed_sec      2292 non-null   float64
 10  horsepower_hp  2913 non-null   float64
 11  mpg            2843 non-null   float64
 12  tank_gal       2893 non-null   float64
 13  volume_cuft    949 non-null    float64
 14  length_in      2711 non-null   float64
 15  width_in       2825 non-null   float64
 16  height_in      2825 non-null   float64
dtypes: float64(9), object(8)
memory usage: 624.2+ KB

,Model,Total_Sales,Year,url,drive,engine,price,doors,passengers,speed_sec,horsepower_hp,mpg,tank_gal,volume_cuft,length_in,width_in,height_in
0,Ford F-Series,901463.0,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Chevrolet Silverado,705980.0,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Toyota Camry,431703.0,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Toyota Corolla/Matrix,341290.0,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Dodge Ram,400543.0,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [467]:
#drop rows with null Total Sales values
model_spec_sales_df2 = model_spec_sales_df2[model_spec_sales_df2['Total_Sales'].notna()]

fill in na values with existing model data from another year

In [468]:
all_model_specs = model_spec_df2.copy() 
# num_cols = [  'speed_sec', 'horsepower_hp', 'mpg', 'tank_gal', 'volume_cuft', 
#             'width_in', 'length_in','height_in']
# for col in num_cols:
#     all_model_specs[col] = all_model_specs[col].apply (pd.to_numeric, errors='coerce')

all_model_specs['passengers'] = all_model_specs['passengers'].apply (pd.to_numeric, errors='coerce')
all_model_specs['doors'] = all_model_specs['doors'].apply (pd.to_numeric, errors='coerce')

In [469]:
#all_model_specs['passengers'] = all_model_specs['passengers'].apply (pd.to_numeric, errors='coerce')
#all_model_specs['doors'] = all_model_specs['doors'].apply (pd.to_numeric, errors='coerce')
models_grouped = all_model_specs.groupby('Model').mean().reset_index()
models_grouped

,Model,price,doors,passengers,speed_sec,horsepower_hp,mpg,tank_gal,volume_cuft,length_in,width_in,height_in
0,Acura ILX,22210.400000,4.0,5.0,7.256250,188.250000,28.375000,13.200000,93.416667,180.925000,70.600000,55.600000
1,Acura ILX Hybrid,NaN,NaN,NaN,11.400000,111.000000,38.500000,13.200000,99.300000,179.100000,70.600000,55.600000
2,Acura MDX,23998.300000,4.0,7.0,6.736667,292.200000,20.100000,20.260000,137.520000,192.853333,77.985714,67.746667
3,Acura NSX,157500.000000,2.0,2.0,3.145000,573.000000,21.000000,15.600000,44.000000,176.025000,81.800000,47.800000
4,Acura RDX,20406.000000,4.0,5.0,6.921429,260.000000,21.821429,17.014286,103.750000,183.214286,73.814286,65.400000
...,...,...,...,...,...,...,...,...,...,...,...,...
1175,Volvo XC60,26976.000000,4.0,5.0,7.515000,247.727273,22.900000,18.500000,98.600000,66.930000,52.570000,47.770000
1176,Volvo XC70,15053.000000,4.0,5.0,7.298182,242.454545,21.454545,18.409091,116.250000,73.566667,63.688889,43.066667
1177,Volvo XC90,25830.700000,4.0,6.5,7.896429,263.357143,20.107143,19.878571,102.833333,87.027273,56.781818,45.181818
1178,smart fortwo,9945.900000,2.0,2.0,9.536364,74.833333,47.416667,8.600000,NaN,106.133333,64.266667,52.750000
1179,smart fortwo electric drive,20261.571429,2.0,2.0,12.294000,70.333333,102.714286,NaN,NaN,106.100000,45.425714,44.768333

In [470]:
for index, row in model_spec_sales_df2.iterrows():
    i = models_grouped[models_grouped['Model']==row['Model']].index.values
    if i:
        specs = list(models_grouped.iloc[i[0],:])
        specs2 = specs +[float('Nan'),float('Nan'),float('Nan'),float('Nan'),float('Nan')]
        r = list(row) 
        #print(specs2)
        #print(r)
        idx = 6
        ix = 1
        try:
            for x in r[4:]:
                #print(specs[idx])
                    if math.isnan(x): 
                        #print(specs[idx])
                        if pd.notna(specs2[ix]):
                            model_spec_sales_df2.iloc[index,idx] = math.floor(specs2[ix])
                            #print(model_spec_sales_df2.iloc[index,:])
                            
        except:
            try:
                for x in r[6:]:
                    #print(specs[idx])
                        if math.isnan(int(x)): 
                            #print(specs[idx])
                            if pd.notna(specs2[ix]):
                                model_spec_sales_df2.iloc[index,idx] = math.floor(specs2[ix])
                                #print(model_spec_sales_df2.iloc[index,:])
            except:
                continue
                
            idx = idx+1
            ix = ix+1

<ipython-input-470-45de5fc0784b>:3: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if i:

In [471]:
model_spec_sales_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4356 entries, 0 to 4438
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Model          4356 non-null   object
 1   Total_Sales    4356 non-null   object
 2   Year           4356 non-null   object
 3   url            2941 non-null   object
 4   drive          2939 non-null   object
 5   engine         2769 non-null   object
 6   price          2872 non-null   float64
 7   doors          2941 non-null   object
 8   passengers     2941 non-null   object
 9   speed_sec      2292 non-null   float64
 10  horsepower_hp  2913 non-null   float64
 11  mpg            2843 non-null   float64
 12  tank_gal       2893 non-null   float64
 13  volume_cuft    949 non-null    float64
 14  length_in      2711 non-null   float64
 15  width_in       2825 non-null   float64
 16  height_in      2825 non-null   float64
dtypes: float64(9), object(8)
memory usage: 612.6+ KB

drop volume_cuft from model_specs_df because not enough data points and cant be easily estimated

In [472]:
model_spec_sales_df2['Total_Sales'] = model_spec_sales_df2['Total_Sales'].apply(pd.to_numeric, errors='coerce')

In [473]:
# model_spec_sales_df2.dropna(inplace=True)
model_spec_sales_df2.describe()

,Total_Sales,price,speed_sec,horsepower_hp,mpg,tank_gal,volume_cuft,length_in,width_in,height_in
count,4356.000000,2872.000000,2292.000000,2913.000000,2843.000000,2893.000000,949.000000,2711.000000,2825.000000,2825.000000
mean,51957.700413,20821.875696,7.160048,252.980776,24.594970,18.464649,105.522761,173.327484,69.458021,58.657876
std,86767.406628,29210.084626,1.595062,97.842802,11.787406,4.886421,21.811527,41.210086,9.838455,11.989066
min,1.000000,1723.000000,2.510000,66.000000,10.500000,1.900000,42.000000,9.500000,7.500000,21.100000
25%,5281.250000,6803.000000,6.140000,178.000000,19.000000,15.300000,94.100000,172.600000,69.500000,55.800000
50%,20774.500000,12975.000000,7.135000,244.000000,22.500000,18.000000,102.800000,183.900000,72.200000,58.100000
75%,59397.250000,24942.500000,8.270000,302.000000,26.500000,21.000000,114.000000,193.450000,74.600000,66.900000
max,909330.000000,583050.000000,14.030000,887.000000,141.000000,39.000000,211.900000,266.000000,87.300000,105.000000

In [474]:
model_spec_sales_dfo = model_spec_sales_df2[model_spec_sales_df2['Total_Sales'] > 25]
model_spec_sales_dfo.describe()

,Total_Sales,price,speed_sec,horsepower_hp,mpg,tank_gal,volume_cuft,length_in,width_in,height_in
count,4193.000000,2844.000000,2291.000000,2912.000000,2842.000000,2892.000000,949.000000,2711.000000,2825.000000,2825.000000
mean,53977.200334,20837.902602,7.158948,253.030563,24.592892,18.466885,105.522761,173.327484,69.458021,58.657876
std,87819.729212,29288.719445,1.594541,97.822694,11.788960,4.885787,21.811527,41.210086,9.838455,11.989066
min,26.000000,1723.000000,2.510000,66.000000,10.500000,1.900000,42.000000,9.500000,7.500000,21.100000
25%,6558.000000,6860.000000,6.140000,178.000000,19.000000,15.300000,94.100000,172.600000,69.500000,55.800000
50%,22666.000000,12975.000000,7.130000,244.000000,22.500000,18.000000,102.800000,183.900000,72.200000,58.100000
75%,62010.000000,24942.500000,8.270000,302.000000,26.500000,21.000000,114.000000,193.450000,74.600000,66.900000
max,909330.000000,583050.000000,14.030000,887.000000,141.000000,39.000000,211.900000,266.000000,87.300000,105.000000

Remove outliers, more than 3 std dev from mean

In [475]:
model_spec_sales_dfo2 = model_spec_sales_dfo[(np.abs(stats.zscore(model_spec_sales_dfo[['Total_Sales','price', 'speed_sec', 
                                                                                      'horsepower_hp', 'mpg', 
                                                                                      'tank_gal', 'length_in', 
                                                                                      'width_in', 'height_in','wheelbase_in']])) < 2.5)] #filtering
# grouped_time.describe()
# z = np.abs(stats.zscore(model_spec_sales_df2['price', 'speed_sec', 'horsepower_hp', 'mpg', 'tank_gal', 
#                                             'length_in', 'width_in', 'height_in']))
# model_spec_sales_df_o = model_spec_sales_df2[(z < 3).all(axis=1)]

In [476]:
model_spec_sales_dfo2.describe()

,Total_Sales,price,speed_sec,horsepower_hp,mpg,tank_gal,volume_cuft,length_in,width_in,height_in
count,4061.000000,2746.000000,2248.000000,2806.000000,2748.000000,2784.000000,912.000000,2635.000000,2723.000000,2723.000000
mean,42030.289830,20943.068463,7.146272,253.482181,24.522562,18.373107,105.600000,172.934490,69.633261,58.460764
std,52688.579431,29574.337338,1.599458,98.433569,11.867935,4.724466,22.195389,41.346624,9.769203,11.973195
min,26.000000,1723.000000,2.510000,66.000000,12.000000,1.900000,42.000000,9.500000,7.500000,21.100000
25%,6138.000000,6844.250000,6.130000,178.000000,19.000000,15.300000,94.000000,172.250000,69.700000,55.800000
50%,21301.000000,12970.500000,7.115000,244.000000,22.500000,18.000000,102.900000,183.900000,72.300000,58.100000
75%,55600.000000,25208.750000,8.260000,302.000000,26.500000,21.000000,114.500000,193.500000,74.700000,66.700000
max,273060.000000,583050.000000,14.030000,887.000000,141.000000,39.000000,211.900000,241.250000,87.300000,105.000000

Remove volume_cuft because not enough data points and url because not needed

In [477]:
model_spec_sales_dfo2.drop(labels=['volume_cuft', 'url'], axis=1, inplace=True)

/Users/racheldilley/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

Clean drive feature

In [478]:
model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.lower()
model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.lstrip()
model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.rstrip()
#model_spec_sales_dfo2 = model_spec_sales_dfo2.dropna()
model_spec_sales_dfo2['drive'].value_counts()

<ipython-input-478-009447450f0f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.lower()
<ipython-input-478-009447450f0f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.lstrip()
<ipython-input-478-009447450f0f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.rstrip()

front wheel drive                               1159
rear wheel drive                                 677
all wheel drive                                  640
four wheel drive                                 265
front-wheel                                       39
rear-wheel                                        22
autotrac automatic full-time four-wheel            6
full-time instant traction(tm) all wheel           4
full-time all wheel                                4
part-time four-wheel                               3
full-time quattro all wheel                        3
automatic full-time four-wheel                     2
all-mode 4wd part and full-time four-wheel         2
part and full-time four-wheel                      1
multi-mode part-time four-wheel                    1
full-time all4 all wheel                           1
real time(tm) automatic full-time four-wheel       1
Name: drive, dtype: int64

In [479]:
model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.replace('rear-wheel','rear wheel drive')
model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.replace('front-wheel','front wheel drive')
#replace = ['full-time all wheel', 'attesa e-ts full-time all wheel', 'automatic full-time all wheel']

model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.replace('automatic full-time all wheel',
                                                                        'all wheel drive')
model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.replace('versatrak ','')
model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.replace('full-time all wheel','all wheel drive')
model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.replace('real time automatic full-time four-wheel',
                                                                        'all wheel drive')
# for s in replace:
#     model_spec_sales_df['drive'] = model_spec_sales_df['drive'].str.replace(s,'all wheel drive')
model_spec_sales_dfo2['drive'].value_counts()

<ipython-input-479-a9f879347cee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.replace('rear-wheel','rear wheel drive')
<ipython-input-479-a9f879347cee>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.replace('front-wheel','front wheel drive')
<ipython-input-479-a9f879347cee>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.replace('automatic full-time all wheel',
<ipython-input-479-a9f879347cee>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.replace('versatrak ','')
<ipython-input-479-a9f879347cee>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.replace('full-time all wheel','all wheel drive')
<ipython-input-479-a9f879347cee>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_spec_sales_dfo2['drive'] = model_spec_sales_dfo2['drive'].str.replace('real time automatic full-time four-wheel',

front wheel drive                               1198
rear wheel drive                                 699
all wheel drive                                  644
four wheel drive                                 265
autotrac automatic full-time four-wheel            6
full-time instant traction(tm) all wheel           4
part-time four-wheel                               3
full-time quattro all wheel                        3
automatic full-time four-wheel                     2
all-mode 4wd part and full-time four-wheel         2
part and full-time four-wheel                      1
multi-mode part-time four-wheel                    1
real time(tm) automatic full-time four-wheel       1
full-time all4 all wheel                           1
Name: drive, dtype: int64

In [480]:
#model_spec_sales_dfo2.where(model_spec_sales_dfo2.apply(lambda x: x['drive'].map(x['drive'].value_counts()))>=10, "other")
c = model_spec_sales_dfo2['drive'].value_counts()
model_spec_sales_dfo2['drive'] = np.where(model_spec_sales_dfo2['drive'].isin(c.index[c<10]), 'other',
                                          model_spec_sales_dfo2['drive'])

model_spec_sales_dfo2['drive'].value_counts()

<ipython-input-480-1ed35d47c681>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_spec_sales_dfo2['drive'] = np.where(model_spec_sales_dfo2['drive'].isin(c.index[c<10]), 'other',

front wheel drive    1198
rear wheel drive      699
all wheel drive       644
four wheel drive      265
other                  24
Name: drive, dtype: int64

In [481]:
model_spec_sales_dfo2.info()
model_spec_sales_dfo2.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4061 entries, 7 to 4438
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Model          4061 non-null   object
 1   Total_Sales    4061 non-null   float64
 2   Year           4061 non-null   object
 3   drive          2830 non-null   object
 4   engine         2667 non-null   object
 5   price          2746 non-null   float64
 6   doors          2831 non-null   object
 7   passengers     2831 non-null   object
 8   speed_sec      2248 non-null   float64
 9   horsepower_hp  2806 non-null   float64
 10  mpg            2748 non-null   float64
 11  tank_gal       2784 non-null   float64
 12  length_in      2635 non-null   float64
 13  width_in       2723 non-null   float64
 14  height_in      2723 non-null   float64
dtypes: float64(9), object(6)
memory usage: 507.6+ KB

,Total_Sales,price,speed_sec,horsepower_hp,mpg,tank_gal,length_in,width_in,height_in
count,4061.000000,2746.000000,2248.000000,2806.000000,2748.000000,2784.000000,2635.000000,2723.000000,2723.000000
mean,42030.289830,20943.068463,7.146272,253.482181,24.522562,18.373107,172.934490,69.633261,58.460764
std,52688.579431,29574.337338,1.599458,98.433569,11.867935,4.724466,41.346624,9.769203,11.973195
min,26.000000,1723.000000,2.510000,66.000000,12.000000,1.900000,9.500000,7.500000,21.100000
25%,6138.000000,6844.250000,6.130000,178.000000,19.000000,15.300000,172.250000,69.700000,55.800000
50%,21301.000000,12970.500000,7.115000,244.000000,22.500000,18.000000,183.900000,72.300000,58.100000
75%,55600.000000,25208.750000,8.260000,302.000000,26.500000,21.000000,193.500000,74.700000,66.700000
max,273060.000000,583050.000000,14.030000,887.000000,141.000000,39.000000,241.250000,87.300000,105.000000

investigate engine column

In [482]:
model_spec_sales_dfo2['engine'].value_counts()

Gas          2553
Electric       50
Flex Fuel      33
Hybrid         22
Diesel          9
Name: engine, dtype: int64

investigate passenger column

In [483]:
model_spec_sales_dfo2['passengers'].value_counts()

5.0    1256
nan     875
4.0     251
7.0     183
2.0     123
8.0      72
6.0      44
3.0      19
9.0       8
Name: passengers, dtype: int64

investigate doors column

In [484]:
model_spec_sales_dfo2['doors'].value_counts()

4.0    1572
nan     875
2.0     369
3.0      15
Name: doors, dtype: int64

Investigate duplicates

In [485]:
model_spec_sales_dfo2d = model_spec_sales_dfo2.dropna()
model_spec_sales_dfo2d = model_spec_sales_dfo2d[model_spec_sales_dfo2d.duplicated(subset=['Model','Year'], keep=False)]
model_spec_sales_dfo2d

Empty DataFrame
Columns: [Model, Total_Sales, Year, drive, engine, price, doors, passengers, speed_sec, horsepower_hp, mpg, tank_gal, length_in, width_in, height_in]
Index: []

In [490]:
model_spec_sales_dfo3 = model_spec_sales_dfo2.dropna()
model_spec_sales_dfo3 = model_spec_sales_dfo3[model_spec_sales_dfo3.doors != 'nan']
model_spec_sales_dfo3 = model_spec_sales_dfo3[model_spec_sales_dfo3.passengers != 'nan']

In [491]:
model_spec_sales_dfo3.info()
model_spec_sales_dfo3.sample(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1209 entries, 324 to 4438
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Model          1209 non-null   object
 1   Total_Sales    1209 non-null   float64
 2   Year           1209 non-null   object
 3   drive          1209 non-null   object
 4   engine         1209 non-null   object
 5   price          1209 non-null   float64
 6   doors          1209 non-null   object
 7   passengers     1209 non-null   object
 8   speed_sec      1209 non-null   float64
 9   horsepower_hp  1209 non-null   float64
 10  mpg            1209 non-null   float64
 11  tank_gal       1209 non-null   float64
 12  length_in      1209 non-null   float64
 13  width_in       1209 non-null   float64
 14  height_in      1209 non-null   float64
dtypes: float64(9), object(6)
memory usage: 151.1+ KB

,Model,Total_Sales,Year,drive,engine,price,doors,passengers,speed_sec,horsepower_hp,mpg,tank_gal,length_in,width_in,height_in
2452,Hyundai Santa Fe,88844.0,2013,all wheel drive,Gas,14871.0,4.0,5.0,6.27,290.0,20.0,18.8,193.10,74.2,66.50
950,Chevrolet Impala,265740.0,2008,front wheel drive,Gas,4312.0,4.0,5.0,8.08,211.0,23.5,17.0,200.40,72.9,58.70
3044,BMW Z4,1829.0,2015,rear wheel drive,Gas,33775.0,2.0,2.0,5.92,240.0,26.0,14.5,166.90,70.5,50.80
4292,Jeep Cherokee,135854.0,2020,front wheel drive,Gas,25840.0,4.0,5.0,9.17,180.0,25.0,15.8,182.00,36.1,65.70
2794,Buick Regal,22560.0,2014,all wheel drive,Gas,18481.0,4.0,5.0,6.31,259.0,22.0,18.0,190.20,73.1,58.40
1160,Chrysler Pacifica,7345.0,2008,front wheel drive,Gas,5935.0,4.0,6.0,8.26,253.0,19.0,23.0,198.50,79.3,28.60
2031,Saab 9-3,3847.0,2011,front wheel drive,Gas,12586.0,4.0,5.0,7.51,210.0,24.0,16.0,183.90,70.9,57.10
4177,Buick Encore,44353.0,2020,all wheel drive,Gas,30800.0,4.0,5.0,9.43,138.0,26.0,14.0,168.35,70.1,65.25
3273,Cadillac CTS,15911.0,2016,all wheel drive,Gas,38523.0,4.0,5.0,6.30,268.0,24.0,19.0,195.50,72.2,57.20
1295,Lexus ES,48485.0,2009,front wheel drive,Gas,8617.0,4.0,5.0,6.72,272.0,22.0,18.5,191.10,71.7,57.10

Add car classifications

In [ ]:
def get_classification(row):
    l = row[12]
    wb = row[15]
    clas = ''
    if l > 195 and wb > 110:
        clas = 'large'
    elif l >= 180 and wb>= 105:
        clas = 'midsize'
    else:
        clas = 'small'
        
    return clas

In [ ]:
model_spec_sales_df4 = model_spec_sales_dfo3.copy()
model_spec_sales_df4['Class'] = model_spec_sales_df4.apply(get_classification, axis=1)

In [492]:


model_spec_sales_df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1209 entries, 324 to 4438
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Model          1209 non-null   object
 1   Total_Sales    1209 non-null   float64
 2   Year           1209 non-null   object
 3   drive          1209 non-null   object
 4   engine         1209 non-null   object
 5   price          1209 non-null   float64
 6   doors          1209 non-null   object
 7   passengers     1209 non-null   object
 8   speed_sec      1209 non-null   float64
 9   horsepower_hp  1209 non-null   float64
 10  mpg            1209 non-null   float64
 11  tank_gal       1209 non-null   float64
 12  length_in      1209 non-null   float64
 13  width_in       1209 non-null   float64
 14  height_in      1209 non-null   float64
dtypes: float64(9), object(6)
memory usage: 151.1+ KB

pickle model sales and specs df to data folder

In [493]:
model_spec_sales_df4.to_pickle('../data/model_spec_sales_df.pkl')